* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}


.grass{
  background-color: aquamarine;
}
.fire{
  background-color: rgb(240, 153, 87);
}
.water{
  background-color: rgb(78, 158, 233);
}
.bug{
  background-color: rgb(184, 148, 217);
}
.normal{
  background-color: #FFF;
}
.poison{
  background-color: rgb(184, 148, 217);
}
.electric{
  background-color: rgb(251, 251, 129);
}

.content {
  
  background-color: rgb(177, 177, 177);
  padding: 0;
  
}

.content h1 {
  margin: auto;
  text-align: center;
  color: rgb(156, 72, 235)
}

.content .listPokemons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.pagination{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
}
.pagination button {
  color: #FFF;
  background-color: rgb(156, 72, 235);
  border-color: black;
  border-radius: 1rem;
  padding: 5px;
  font-size: 1rem;
}

.pokemon {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 15px;
  border: solid 1px;
  height: 9rem;
  width: 14rem;
}

.pokemon .number {
  text-align: end;
}

.pokemon .details {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pokemon .name {
  margin-bottom: 20px;
  text-align: left;
}

.types {
  display: flex;
  flex-direction: column;
  margin-right: 60px;
}

.pokemon .details .imgPokemon {
  max-width: 90px;
}

.types .type {
  display: flex;
  flex-direction: column;
}
